# The following dependencies are ready on our test server, so please do not add the same dependencies in requirements.txt

# absl-py==0.10.0
# alabaster==0.7.12
# apeye==1.1.0
# appdirs==1.4.4
# argon2-cffi==20.1.0
# astor==0.8.1
# atari-py==0.3.0
# atomicwrites==1.4.0
# attrs==19.3.0
# autodocsumm==0.2.2
# Babel==2.9.1
# backcall==0.1.0
# beautifulsoup4==4.9.3
# bleach==3.1.0
# botocore==1.17.48
# CacheControl==0.12.6
# cached-property==1.5.2
# cachetools==4.2.2
# cairocffi==1.2.0
# CairoSVG==2.5.2
# cffi==1.14.2
# chardet==3.0.4
# charset-normalizer==2.0.3
# click==7.1.2
# click-help-colors==0.9
# cloudpickle==1.6.0
# colorama==0.4.4
# coloredlogs==15.0
# commonmark==0.9.1
# consolekit==1.3.0
# coverage==5.0.3
# css-parser==1.0.6
# cssselect==1.1.0
# cssselect2==0.4.1
# cycler==0.10.0
# Cython==0.29.14
# dataclasses==0.8
# decorator==4.4.1
# deepdiff==5.5.0
# defusedxml==0.6.0
# deprecation==2.1.0
# deprecation-alias==0.2.0
# dict2css==0.2.4
# dill==0.3.4
# docutils==0.16
# domdf-python-tools==3.1.0
# donna25519==0.1.1
# easydict==1.9
# elasticsearch==7.11.0
# entrypoints==0.3
# enum-tools==0.6.4
# enum34==1.1.10
# execnet==1.9.0
# faiss==1.7.1
# filelock==3.0.12
# flake8==3.7.9
# Flask==1.1.2
# future==0.18.2
# git-python==1.0.3
# gitdb==4.0.7
# GitPython==3.1.18
# glog==0.3.1
# google-api-core==1.30.0
# google-api-python-client==2.9.0
# google-auth==1.31.0
# google-auth-httplib2==0.1.0
# google-auth-oauthlib==0.4.6
# googleapis-common-protos==1.53.0
# graphviz==0.13
# grpcio==1.39.0
# grpcio-tools==1.39.0
# gym==0.18.3
# h5py==3.1.0
# html5lib==1.1
# httplib2==0.19.1
# humanfriendly==9.1
# humanize==3.2.0
# idna==2.8
# imageio==2.6.1
# imagesize==1.2.0
# importlib-metadata==4.7.1
# importlib-resources==5.2.2
# ipykernel==5.1.3
# ipython==7.9.0
# ipython-genutils==0.2.0
# ipywidgets==7.5.1
# itsdangerous==1.1.0
# jedi==0.15.1
# joblib==0.14.0
# jsonschema==3.1.1
# jupyter==1.0.0
# jupyter-client==5.3.4
# jupyter-console==6.0.0
# jupyter-core==4.6.1
# llvmlite==0.36.0
# lockfile==0.12.2
# lxml==4.6.3
# lz4==3.1.3
# Markdown==3.2.2
# MarkupSafe==1.1.1
# matplotlib==3.3.4
# mccabe==0.6.1
# mistletoe==0.7.2
# mistune==0.8.4
# mock==4.0.3
# more-itertools==7.2.0
# mpyq==0.2.5
# msgpack==1.0.2
# mypy-extensions==0.4.3
# namedlist==1.8
# natsort==7.1.1
# nbconvert==5.6.1
# nbformat==4.4.0
# networkx==2.4
# nltk==3.3
# notebook==6.0.1
# numba==0.53.1
# numpy==1.19.5
# nvidia-dali==0.14.0
# oauthlib==3.1.1
# onnx==1.7.0
# opencv-python==4.1.1.26
# ordered-set==4.0.2
# packaging==20.9
# pandas==1.1.5
# pandocfilters==1.4.2
# parso==0.5.1
# pexpect==4.7.0
# pickleshare==0.7.5
# Pillow==6.2.1
# Pillow-SIMD==6.0.0.post0
# pkginfo==1.5.0.1
# pluggy==0.13.1
# portpicker==1.4.0
# prettytable==2.1.0
# prometheus-client==0.7.1
# prompt-toolkit==2.0.10
# protobuf==3.17.3
# protobuf3==0.2.1
# psutil==5.7.2
# ptyprocess==0.6.0
# pyasn1==0.4.8
# pyasn1-modules==0.2.8
# pybind11==2.6.2
# pycocotools==2.0.0
# pycocotools-fix==2.0.0.9
# pycodestyle==2.5.0
# pycparser==2.20
# pycryptodome==3.10.1
# pyflakes==2.1.1
# pygame==2.0.1
# pyglet==1.5.15
# Pygments==2.8.1
# pyparsing==2.4.2
# pyrsistent==0.15.5
# pytest==5.1.1
# pytest-forked==1.3.0
# pytest-xdist==2.3.0
# python-dateutil==2.8.1
# python-gflags==3.1.2
# pytorch-ignite==0.4.4
# pytorchcv==0.0.65
# pytz==2021.1
# PyWavelets==1.1.1
# PyYAML==5.3.1
# pyzmq==18.1.0
# qtconsole==4.5.5
# QtPy==1.9.0
# readerwriterlock==1.0.8
# readme-renderer==24.0
# requests==2.26.0
# requests-oauthlib==1.3.0
# requests-toolbelt==0.9.1
# responses==0.12.1
# retrying==1.3.3
# rich==9.13.0
# rsa==4.7.2
# ruamel.yaml==0.17.16
# ruamel.yaml.clib==0.2.2
# s2clientprotocol==5.0.7.84643.0
# s2protocol==5.0.7.84643.0
# s3transfer==0.3.3
# scikit-image==0.16.2
# scikit-learn==0.24.2
# scipy==1.5.4
# seaborn==0.11.1
# Send2Trash==1.5.0
# six==1.16.0
# sk-video==1.1.10
# smmap==4.0.0
# snowballstemmer==2.1.0
# sortedcontainers==2.4.0
# soupsieve==2.2.1
# Sphinx==3.5.4
# sphinx-autodoc-typehints==1.11.1
# sphinx-prompt==1.5.0
# sphinx-rtd-theme==0.4.3
# sphinx-tabs==2.0.1
# sphinx-toolbox==2.13.0
# sphinxcontrib-applehelp==1.0.2
# sphinxcontrib-devhelp==1.0.2
# sphinxcontrib-htmlhelp==2.0.0
# sphinxcontrib-jsmath==1.0.1
# sphinxcontrib-qthelp==1.0.3
# sphinxcontrib-serializinghtml==1.1.5
# tabulate==0.8.9
# tensorboard==2.6.0
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.0
# tensorboardX==2.2
# terminado==0.8.2
# testpath==0.4.2
# threadpoolctl==2.1.0
# tianshou==0.4.3
# tinycss==0.4
# tinycss2==1.1.0
# torch==1.8.0
# torchaudio==0.8.0
# torchvision==0.9.0+cu111
# tornado==6.0.3
# tqdm==4.61.1
# traitlets==4.3.3
# trueskill==0.4.5
# twine==2.0.0
# typing-extensions==3.7.4.3
# typing-inspect==0.7.1
# uritemplate==3.0.1
# urllib3==1.26.6
# URLObject==2.4.3
# wcwidth==0.1.7
# webencodings==0.5.1
# websocket-client==1.1.0
# Werkzeug==1.0.1
# whichcraft==0.6.1
# widgetsnbextension==3.5.1
# yapf==0.29.0